<header>
      <div class="container">
            <nav>
                  <div class="logo"><a href="#">ipe<span>Tutors</span></a></div>
                  <a href="#" class="menu-trigger">
                        <i class="ri-menu-3-line"></i>
                  </a>
                  <div class="menu">
                        <a href="#" class="close"><i class="ri-close-line"></i></a>
                        <ul>
                              <li><a href="{{ url_for('index') }}">Home</a></li>
                              <li><a href="{{ url_for('home.aboutPage') }}">About</a></li>
                              <li><a href="{{ url_for('home.servicesPage') }}">Services</a></li>
                              <li class="cta"><button class="open_register_btn">Register now</button></li>
                        </ul>
                  </div>
            </nav>
      </div>
</header>