@import url('admin_components/base.css');

body{
     overflow-x: hidden;
      
}

.site{
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      /* background-color: yellow; */
      
}
.form-container{
      max-width: 600px;
      width: 100%;
      padding: 2em;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      /* background-color: red; */
      margin: 1em;

}
.form-container h2{
      font-size: 2em;
      font-weight: 800;
}
form{
      display: flex;
      flex-direction: column;
      gap: 1em

}
form > div{
      display: flex;
      flex-direction: column;
      gap: 0.75em;
}
form > div > label, form > div > span{
      color: var(--black-color);
      font-size: 0.875em;
      font-weight: 500;
}
form > div > input{
      height: 45px;
      border: 1px solid #d6d8e7;
      border-radius: 4px;
      /* background-color: #fbfbfd; */
      padding: 0 1em;
      font-family: 'poppins', sans-serif;
      outline: none;
      transition: all .2s;
}
form > div > textarea{
      height: 100px;
      border: 1px solid #d6d8e7;
      border-radius: 4px;
      /* background-color: #fbfbfd; */
      padding: 1em;
      font-family: 'poppins', sans-serif;
      outline: none;
      transition: all .2s;
      resize: vertical;
}
form > div > textarea:focus, form > div > input:focus{
      background-color: #fbfbfd;
      box-shadow: 0 4px 5px rgba(59, 193, 113, 12%);
}
form div:first-of-type div{
      display: flex;
      gap: 1em;
}
form div:first-of-type div label{
      /* background-color: #d6d8e7; */
      border: 1px solid #d6d8e7;
      padding: 6px 12px;
      border-radius: 8px;
      cursor: poi
}
form button{
      background-color: var(--green-color);
      height: 40px;
      border: none;
      font-family: 'poppins', sans-serif;
      color: var(--white-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: var(--double-shadow);
      margin-top: 1em;
}
#send_to_phone:checked ~ .send_to_phone,
#send_to_email:checked ~ .send_to_email
{
      background-color: rgba(59, 193, 113, 12%);
      border-color: var(--green-color);
      color: var(--green-color);
      font-weight: 600;
}
input[type='radio']{
      display: none;
}

#send_request_to_phone, #send_request_to_email{
      display: none;
}

.showRecipientPhoneBox #send_request_to_phone,
.showRecipientEmailBox #send_request_to_email
{
      display: flex;
}