<header>
      <i class="ri-menu-line open_sidebar_btn"></i>
      <form action="#" method="get">
            <div class="header_search_box">
                  <i class="ri-search-2-line"></i>
                  <input type="text" name="query" id="query_search" placeholder="Search for records..">
            </div>
      </form>
      <ul>
            <li><i class="ri-notification-fill"></i></li>
            <li><i class="ri-user-fill"></i></li>
            <!-- <li class="profile-dropdown">
                  <div class="profile-dropdown-container">
                        <ul>
                              <li>
                                    <div class="username">
                                          <b>Clement Ajiboye</b>
                                          <span>See your profile</span>
                                    </div>
                              </li>
                              <li><a href="#"><i class="ri-setting-line"></i>Settings</a></li>
                              <li><a href="#"><i class="ri-sign-out-line"></i>Log out</a></li>
                        </ul>
                  </div>
            </li> -->
      </ul>
</header>