@import 'style.css';

.about-hero{

      background-color: rgba(59, 193, 113, 20%);
}
.container{
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 1em;
      /* background-color: #111880; */
}

.about-hero .hero-grid__text{
      display: flex;
      flex-direction: column;
      padding: 5em 0 0 0;
      /* align-items: center; */
      gap: 1em;
}
.hero-grid__text h2{
      font-size: 3em;
      font-weight: 800;
      color: var(--black-color);
}
.hero-grid__text span{
      color: var(--green-color);
      font-size: 1.1em;
}
.hero-grid__text p{
      color: var(--grey-color);
      font-size: 1.2em;
      line-height: 200%;
}


/* OUR STORY SECTION */


.quick_story{
      /* background-color: red; */
      padding: 4em 0;
      margin-bottom: 2em;
}
.story-grid__text h2{
      /* background: rebeccapurple; */
      font-size: 3em;
      color: var(--black-color);
      margin-bottom: 0.875em;
      font-weight: 800;
}
.story-grid__text p{
      font-size: 1.2em;
      line-height: 200%;
      text-align: justify;
      /* text */
}



@media screen and (min-width : 992px){
      nav {
            justify-content: space-between;
            /* width: 100%; */
      }
      nav .menu {
            width: auto;
      }

}