<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Registered Students  - IpeTutors</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='/styles/admin/registered_students.css') }}">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
      <div class="site">  
            <aside>
                  <div class="navbar_inner">
                        <i class="ri-close-line close_sidebar_btn"></i>
                        <div class="logo"><a href="{{ url_for('index') }}">ipe<span>Tutors</span></a></div>
                        <ul>
                              <li>
                                    <a href="{{ url_for('admin.dashboard') }}" >
                                          <i class="ri-layout-4-line"></i>
                                          Overview                                   
                                    </a>
                              </li>
                              <li>
                                    <a href="{{ url_for('admin.registeredStudents') }}" class="active_link">
                                          <i class="ri-user-2-line"></i>
                                          Students
                                    </a>
                              </li>
                              <li>
                                    <a href="{{ url_for('admin.registeredTeachers') }}">
                                          <i class="ri-team-line"></i>
                                          Teachers
                                    </a>
                              </li>
                              <li>
                                    <a href="{{ url_for('admin.appliedStudents') }}">
                                          <i class="ri-user-add-line"></i>
                                          Applicants
                                    </a>
                              </li>
                              <li>
                                    <a href="{{ url_for('admin.appliedStudents') }}">
                                          <i class="ri-question-line"></i>
                                          Enquires
                                    </a>
                              </li>
                              <li>
                                    <a href="{{ url_for('admin.adminPage') }}">
                                          <i class="ri-settings-3-line"></i>
                                          Settings
      
                                    </a>
                              </li>
                        </ul>
                  </div>

            </aside>
            <div class="main_container">
                  {% include 'admin/admin_components/header.html' %}
                  <main>
      
                        <div class="dashboard_content up animate">
                              <div class="beadcrumb">
                                    <a href="#">Dashboard</a> > <a href="#">Registered students</a>
                              </div>

                              <div class="registered_student_table">
                                    <div class="table_header">
                                          <h3>Registered Students</h3>
                                          <button><i class="ri-filter-line"></i></button>
                                    </div>
                                    <div>

                                          <table>
                                                <thead>
                                                      <th>Full name</th>
                                                      <th>Email</th>
                                                      <th>Phone number</th>
                                                      <th>Teaching mode</th>
                                                      <th>Status</th>
                                                      <th>Date</th>
                                                </thead>
                                                <tbody>
                                                      {% for student in students %}
                                                                  <tr>
                                                                        <td style="width: 20%"><a href="{{ url_for('admin.studentsInfo', id= student.id) }}">{{ student.firstname | capitalize }} {{ student.lastname | capitalize }}</a></td>
                                                                        <td>{{ student.email }}</td>
                                                                        <td>{{ student.phone_number }}</td>
                                                                        <td>{{ student.teaching_mode }}</td>
                                                                        <td>{{ student.admission_status }}</td>
                                                                        <td>{{ student.date }}</td>
                                                                  </tr>
                                                      {% endfor %}
      
                                                </tbody>
                                          </table>
                                    </div>
                              </div>
                                           
                        </div>                       
                  </main>
            </div>
      </div>
      <script src="{{ url_for('static', filename='/js/admin/admin.js') }}"></script>
</body>
</html>