<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>About - ipeTutors</title>
      <link rel="stylesheet" href="/static/styles/about.css">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      
</head>
<body>
      <div id="page" class="site">
            {% include '/components/header.html' %}
            <main>
               
                  <div class="about-hero">
                        <div class="container up animate">
                              <div class="hero-grid__text">
                                    <span>About us</span>
                                    <h2>Who we are.</h2>
                                    <p>Occaecat aliqua ullamco ipsum ullamco occaecat consequat <br> ipsum cillum ad irure velit ad.</p>
                              </div>
                        </div>
                  </div>
                 
                 <div class="quick_story">
                        <div class="container">
                              <div class="story-grid__text">
                                    <h2>Our Story</h2>
                                    <p>
                                          Cillum sunt mollit proident culpa dolor in commodo esse cupidatat laboris id. 
                                          Minim consectetur ipsum pariatur fugiat veniam Lorem ad anim nisi. Est dolore 
                                          voluptate magna culpa Lorem cupidatat. Ipsum commodo sunt exercitation ad velit. 
                                          Ipsum reprehenderit elit excepteur est. Qui aute irure eu labore.
                                          Cillum sunt mollit proident culpa dolor in commodo esse cupidatat laboris id. 
                                          Minim consectetur ipsum pariatur fugiat veniam Lorem ad anim nisi. Est dolore 
                                          voluptate magna culpa Lorem cupidatat. Ipsum commodo sunt exercitation ad velit. 
                                          Ipsum reprehenderit elit excepteur est. Qui aute irure eu labore.
                                    </p>
                              </div>
                        </div>
                 </div>
                 <div class="values">
                  <div class="container">
                        <div class="values-grid">
                              <h2>Our Core Value</h2>
                              <div class="values-inner up animate">
                                    <div class="values-container">
                                          <span>
                                                <i class="ri-loader-line"></i>
                                          </span>
                                          <div>
                                                <h4>Dignity</h4>
                                                <p>We carry our responsibilities with high deal of respect and hold our client with high esteem.</p>
                                          </div>
                                    </div>
                                    <div class="values-container">
                                          <span>
                                                <i class="ri-sun-line"></i>
                                          </span>
                                          <div>
                                                <h4>Excellence</h4>
                                                <p>At <b>IpeTutors</b> we choose the understanding feature in all things.</p>
                                          </div>
                                    </div>
                                    <div class="values-container">
                                          <span>
                                                <i class="ri-fingerprint-line"></i>
                                          </span>
                                          <div>
                                                <h4>Integrity</h4>
                                                <p>Our clients have never doubt our level of uprightness.</p>
                                          </div>
                                    </div>
                                    <div class="values-container">
                                          <!-- <a href="#"><i class="ri-arrow-right-s-line"></i>See More</a> -->
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="reasons">
                  <div class="container">
                        <div class="reasons-grid">
                              <div class="reasons-grid__text">
                                    <span>Reasons</span>
                                    <h2>Why Choose Us?</h2>
                              </div>
                              <div class="reasons-inner up animate">
                                    <div class="reasons-container">
                                          <span>01</span>
                                          <div>
                                                <h4>We care about learning and excellence.</h4>
                                                <p>Why should we learn if not to attain excellence if it's not excellent,
                                                      it's not <b>ipeTutors</b>. Our professional tutors are people who care and
                                                            turns teaching into pleasure.
                                                </p>
                                          </div>
                                    </div>
                                    <div class="reasons-container">
                                          <span>02</span>
                                          <div>
                                                <h4>Customised tutoring style</h4>
                                                <p>
                                                      We have unique styles of insporing each of our students.  That in itself 
                                                      says much about the <b>Per</b> in our brand name.
                                                </p>
                                          </div>
                                    </div>
                                    <div class="reasons-container">
                                          <span>03</span>
                                          <div>
                                                <h4>We make learning easy and effective</h4>
                                                <p>
                                                      We are not just creating a short term learning platform, but our operation is designed
                                                      for our students to build up skills sets that will be useful now and in the future.
                                                </p>
                                          </div>
                                    </div>
                                    <div class="reasons-container">
                                          <span>04</span>
                                          <div>
                                                <h4>Tested and trusted by our clients</h4>
                                                <p>
                                                      We have built a strong client based trust. Our clients are now happy with the peace of 
                                                      mind that they enjoy.
                                                </p>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
                  
                  
            </main>
            {% include '/components/footer.html' %} 
            <div class="overlay"></div>
      </div>
      <script src="../static/js/index.js"></script>
</body>
</html>