<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Services - ipeTutors</title>
      <link rel="stylesheet" href="/static/styles/services.css">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      
</head>
<body>
      <div id="page" class="site">
            {% include '/components/header.html' %}
            <main>
                
                  <div class="services-hero">
                        <div class="container up animate">
                              <div class="hero-grid__text">
                                    <span>Services</span>
                                    <h2>What we do</h2>
                                    <p>Occaecat aliqua ullamco ipsum ullamco occaecat consequat <br> ipsum cillum ad irure velit ad.</p>
                              </div>
                        </div>
                  </div>
                  <div class="services-section">
                        <div class="container">
                              <div class="service-grid__inner left-side"  id="service-home">
                                    <div class="one right animate">
                                          <div class="service_thumbnail">
                                                <img src="/static/assets/home tutor.jpg" alt="home tutor image">
                                          </div>
                                    </div>
                                    <div class="two up animate">
                                          <div>
                                                <h2>Home Tutoring</h2>
                                                <p>
                                                      Duis velit adipisicing sint nostrud occaecat proident anim ipsum. 
                                                      Qui id esse incididunt dolor pariatur consectetur tempor do. 
                                                      Est tempor sit aute fugiat incididunt officia proident pariatur ex exercitation. 
                                                </p>
                                          </div>
                                    </div>
                              </div>
                              <div class="service-grid__inner right-side"  id="service-skill">
                                    <div class="one left animate">
                                          <div class="service_thumbnail">
                                                <img src="/static/assets/skill aquisition.jpg" alt="skill acquisition image">
                                          </div>
                                    </div>
                                    <div class="two up animate">
                                          <div>
                                                <h2>Skill Acquisition</h2>
                                                <p>
                                                      Duis velit adipisicing sint nostrud occaecat proident anim ipsum. 
                                                      Qui id esse incididunt dolor pariatur consectetur tempor do. 
                                                      Est tempor sit aute fugiat incididunt officia proident pariatur ex exercitation. 
                                                </p>
                                          </div>
                                    </div>
                              </div>
                              <div class="service-grid__inner left-side" id="service-public">
                                    <div class="one right animate">
                                          <div class="service_thumbnail">
                                                <img src="/static/assets/public class.jpg" alt="public class image">
                                          </div>
                                    </div>
                                    <div class="two up animate">
                                          <div>
                                                <h2>Public Classes</h2>
                                                <p>
                                                      Duis velit adipisicing sint nostrud occaecat proident anim ipsum. 
                                                      Qui id esse incididunt dolor pariatur consectetur tempor do. 
                                                      Est tempor sit aute fugiat incididunt officia proident pariatur ex exercitation. 
                                                </p>
                                          </div>
                                    </div>
                              </div>
                              <div class="service-grid__inner right-side" id="service-professional">
                                    <div class="one left animate">
                                          <div class="service_thumbnail">
                                                <img src="/static/assets/professional service.jpg" alt="professional service image">
                                          </div>
                                    </div>
                                    <div class="two up animate">
                                          <div>
                                                <h2>Professional Services</h2>
                                                <p>
                                                      Duis velit adipisicing sint nostrud occaecat proident anim ipsum. 
                                                      Qui id esse incididunt dolor pariatur consectetur tempor do. 
                                                      Est tempor sit aute fugiat incididunt officia proident pariatur ex exercitation. 
                                                </p>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>                                 
                  </main>
                  {% include '/components/footer.html' %}
            <div class="overlay"></div>
      </div>
      <script src="../static/js/index.js"></script>
</body>
</html>